{% extends 'header.html' %} {% block content %}



<main>
    <h2 class="text-center">Buscador de Pokemon</h2>

    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <!-- Buscador del sitio -->
        <form class="d-flex bg-dark" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="border-0 bg-dark text-white me0 rounded-0  " type="search" name="query" placeholder="Pikachu . . ." aria-label="Search">
            <button class="btn bg-dark border-0 text-white" type="submit">Buscar</button>
        </form>
    </div>

    <div class="row row-cols-md-3  w-100 m-auto p-1">
        <form class=" btn-danger  p-1" method="post" action="{% url 'filter_by_type' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="fire">
            <button type="submit" class="p-0 m-0 w-100 h-100  btn btn-danger">FUEGO</button>
        </form>

        <form class=" btn-primary  p-1" method="post" action="{% url 'filter_by_type' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="water">
            <button type="submit" class="p-0 m-0 w-100 h-100  btn btn-primary ">AGUA</button>
        </form>

        <form class=" btn-success  p-1" method="post" action="{% url 'filter_by_type' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="grass">
            <button type="submit" class="p-0 m-0 w-100 h-100 btn btn-success">PLANTA</button>
        </form>
    </div>



        <div class="row row-cols-1 row-cols-md-4 gap-0 w-100 ">
        {% if images|length == 0 %}
        <h2 class="text-center">La búsqueda no arrojó resultados...</h2>
        {% else %} {% for img in images %}
        <div class="col d-block ps-1 pe-1 m-0 h-100">

            <!-- depende de que tipo sea cambia el color del borde  -->

            {% if img.types.0.type.name == 'grass' %}
                <div class="card bgGrass rounded-0 mb-1 ms-0 h-100">
            {% elif img.types.0.type.name == 'fire' %}
                <div class="card bgFire rounded-0 mb-1 ms-0 h-100" > 
            {% elif img.types.0.type.name == 'water' %}
                <div class="card bgWater rounded-0 mb-1 ms-0 h-100" >         
            {% else %} 
                <div class="card bgNormal rounded-0 mb-1 ms-0 h-100" > 
            {% endif %}


                              
                 <div class="row-cols-0 row-cols-md-0 g-0 ">
                    <strong>Basíco</strong>
                    <strong class="card-title mb-0 text-dark fs-4">  {{ img.name }} </strong>


                    <div class="w-100 h-50 bgPokemon  ">
                        <img src="{{ img.url }}" class="card-img-top card-img-top w-75 d-block h-100 mx-auto"alt="imagen">
                    </div>

                    <div class="col-md-0 mt-1">
                        <div class="card-body pb-0">                            
                                <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                                    {% for poketype in img.types %}
                                    <strong><em>{{poketype.type.name}}</em></strong>
                                    {% endfor %} 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            
                            <strong class="card-text mb-0 text-dark d-block"><small class="text-body-secondary">Altura: {{ img.height }}</small></strong>
                            <strong class="card-text mb-0 text-dark d-block"><small class="text-body-secondary">Peso: {{ img.weight }}</small></strong>
                            <strong class="card-text mb-0 text-dark d-block"><small class="text-body-secondary">Nivel de experiencia base: {{ img.base }}</small></strong>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="card-footer text-center">
                            <form method="post" action="{% url 'agregar-favorito' %}">
                                {% csrf_token %}
                                <input type="hidden" name="name" value="{{ img.name }}">
                                <input type="hidden" name="height" value="{{ img.height }}">
                                <input type="hidden" name="weight" value="{{ img.weight }}">
                                <input type="hidden" name="types" value="{{ img.types }}">
                                <input type="hidden" name="image" value="{{ img.image }}"> {% if img in favourite_list %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white" disabled>✔️ Favoritos</button> {% else %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white">❤️ Favoritos</button> {% endif %}
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</main>
{% endblock %}
